
.testBtn {
    width: 100px;
    height: 100px;
    margin: 20px 10px;
    cursor: pointer;
    font-weight: 500;
    border-radius: 50%;
    font-size: 0.8rem;
    border: none;
    color: white;
    background: #185adb;
    transition: all 0.25s ease;
  }
  
  